<footer class="border-top mt-5 py-4 bg-light">
  <div class="container d-flex flex-column flex-md-row justify-content-between">

    <div>
      <strong>{{ site.title }}</strong><br>
      <small class="text-muted">
        C++ game engine devlog focused on rendering, ECS, and systems programming.
      </small>
    </div>

    <div class="text-md-end mt-3 mt-md-0">

      <a href="{{ '/feed.xml' | relative_url }}" class="text-decoration-none me-3">RSS</a>

      <a href="https://github.com/Belfer" class="text-decoration-none">
        GitHub
      </a>

      <div class="text-muted small mt-2">
         Copyright © {{ site.time | date: "%Y" }} – Conor Damery
      </div>

    </div>

  </div>
</footer>