<nav class="navbar">

  <div class="nav-inner">

    <!-- LEFT -->
    <div class="nav-left">
      <a class="nav-brand" href="{{ '/' | relative_url }}">
        <span class="brand-icon">◆</span>
        <span>Conor Damery</span>
      </a>

      <span class="nav-divider"></span>

      <a class="nav-link" href="{{ '/blogs/' | relative_url }}">
        Blogs
      </a>
    </div>

    <!-- MIDDLE FLEX SPACER -->
    <div class="nav-spacer"></div>

    <!-- RIGHT -->
    <div class="nav-right">

      <a class="nav-icon" href="https://github.com/Belfer" target="_blank">
        G
      </a>

      <a class="nav-icon" href="https://www.patreon.com/cw/ConorDamery" target="_blank">
        P
      </a>

    </div>

  </div>

</nav>